<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="Bxfoundation test suite">
            <directory>tests/lib/routing/rule/RegexpTest.php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>marvin255.bxfoundation/lib</directory>
            <exclude>
                <file>marvin255.bxfoundation/lib/Autoloader.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
